# Ignore Node.js dependencies
node_modules/

# Ignore Flutter/Dart project folder
universeat/

# Ignore PDF files
*.pdf

# Ignore text files
*.txt

# Ignore database files
*.db

# Ignore virtual environment
.venv/